body {
    font-family: "Roboto Slab", serif;
    font-family: "Poppins", sans-serif;
}

.ExploreModelDropwns2-one-drop-one {
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    // height: 580px;
    background-color: #FFF;
    display: none;

    &.open {
        // height: 580px;
        display: block;
    }

    .ModelDropdowncar-one-drop1 {
        width: 100%;
        height: 100%;
        position: relative;

        .ModelDropdowncar-one-drop1-bg {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .Dropdownbox1-inner-main {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .Dropdown-content-box1 {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: end;
                gap: 0;
                padding: 0 3.2rem 13.2rem 3.2rem;
                margin: 0 auto;
                display: -ms-flexbox;
                -ms-flex-pack: justify;
                box-sizing: border-box;

                .Dropdown-content1 {
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    flex-direction: column;
                    gap: 15px;

                    img {
                        width: 162px;
                    }


                    h1 {
                        font-size: 40px;
                        font-weight: 300;
                        line-height: 1;
                        color: #FFF;
                        text-transform: uppercase;
                        font-family: "Roboto Slab", serif;
                    }
                }

                .Dropdown-content2 {
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    flex-direction: column;
                    gap: 5px;

                    button {
                        border: 2px solid;
                        cursor: pointer;
                        text-align: center;
                        padding: .625em 3.125em;
                        transition: all .25s ease-in-out;
                        line-height: 1.4;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding-inline: 30px;
                        width: 100%;

                        &:hover {
                            background-color: transparent !important;
                            color: #000 !important;
                            border-color: #000 !important;
                        }
                    }

                    button:nth-child(2n + 1) {
                        background-color: #00779C;
                        border-color: #00779C;
                        color: #FFF;
                    }

                    button:nth-child(2n + 2) {
                        background-color: #FFF;
                        border-color: #FFF;
                        color: #000;
                    }
                }
            }
        }
    }
}