body {
    font-family: "Roboto Slab", serif;
    font-family: "Poppins", sans-serif;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.Shopping-dropdown-main {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.4s ease-in-out;
    height: auto;
    overflow: hidden;
    padding: 50px 4%;
    display: flex;
    justify-content: start;
    align-items: start;

    &.open {
        height: 100%;
    }

    .Shopping-dropdown-side-one {
        width: 67.1%;
        padding: 50px 25px;
        border: 1px solid #0085ac;

        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 2.75px;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 6px;
            color: #000;
            font-family: "Poppins", sans-serif;
        }

        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            color: #000;
            font-weight: 600;
            line-height: 35px;
            margin: 0 0 25px 0;
        }

        form {

            label {
                font-family: "Poppins", sans-serif;
                display: block;
                margin: 0 0 8px 0;
                text-transform: capitalize;
                font-size: 15px;
                font-weight: 600;
                line-height: 1.93rem;
            }

            input {
                box-sizing: border-box;
                width: 100%;
                font-size: 16px;
                line-height: 1.4;
                padding: 11px 16px;
                font-family: "Poppins", sans-serif;
                color: #000;
                margin: 0 0 30px 0;

                &:focus {
                    outline: none;
                }
            }

            .Form-buttons {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 8px;

                button {
                    font-family: "Poppins", sans-serif;
                    text-transform: uppercase;
                    border: 2px solid;
                    cursor: pointer;
                    padding: .625em 3.125em;
                    text-align: center;
                    transition: all .25s ease-in-out;
                    width: 100%;
                    line-height: 1.4;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover {
                        background-color: transparent !important;
                        border-color: #000 !important;
                        color: #000 !important;
                    }
                }

                button:nth-child(2n + 1) {
                    background-color: #0085ac;
                    border-color: #0085ac;
                    color: #fff;
                }

                button:nth-child(2n + 2) {
                    background-color: #000;
                    border-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .Shopping-dropdown-side-two {
        margin: 0 0 0 8%;
        width: 100%;

        .Shopping-dropdown-side-two-inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
            gap: 0;
            width: 65.7%;

            .Shopping-dropdown-side-two-inner-one {

                .Shopping-dropdown-side-two-inner-one-title {
                    padding: 0 0 15px;
                    border-bottom: 1px solid #e5e5e5;
                    width: 100%;

                    p {
                        color: #7c7c7c;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 10px;
                        font-weight: 700;
                        line-height: 15px;
                        font-family: "Poppins", sans-serif;
                    }
                    
                    a {
                        text-decoration-line: none;
                        color: #000;
                        
                        span {
                            padding: 15px 0 0 0;
                            display: block;
                            width: fit-content;
                            font-size: 15px;
                            font-weight: 500;
                            font-family: "Poppins", sans-serif;
                        }
                    }
                }
            }
        }
    }
}