.Header {
    position: relative;

    header {
        border-bottom: 1px solid #e5e5e5;
        z-index: 99;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        padding: 0 62px;
        background-color: #FFF;

        .main-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 15%;

            img {
                height: 100%;
                width: 100%;
                user-drag: none;
                user-select: none;
            }
        }

        .header-main-content {
            display: flex;
            flex-direction: row;
            width: 85%;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .header-content-one {
                min-width: 30%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                padding: 0;
                gap: 27px;
                align-items: center;

                .header-content {
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    gap: 5px;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        span {
                            color: #00779c;
                        }

                        svg path {
                            fill: #00779c;
                        }
                    }

                    span {
                        font-family: "Poppins", sans-serif;
                        padding-top: 3px;
                        font-size: 15px;
                        font-weight: 700;
                    }

                    svg {
                        margin: 0 0 5px 0;

                        path {
                            fill: #000;
                        }
                    }
                }
            }

            .header-content-two {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                padding: 0;
                gap: 27px;
                align-items: center;

                .header-certified-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    cursor: pointer;

                    img {
                        height: 14px;
                        width: 14px;
                    }

                    span {
                        font-family: "Poppins", sans-serif;
                        padding-top: 3px;
                        font-size: 15px;
                        font-weight: 700;
                        color: #000;
                    }

                    &:hover {
                        span {
                            color: #00779c;
                        }
                    }
                }

                .header-certified-contentsc.active {
                    span {
                        transition: .4s ease-in-out;
                        color: #00779c;
                    }


                    .usericon {
                        svg path {
                            transition: .4s ease-in-out;
                            margin: 0;
                            fill: #00779c !important;
                        }
                    }

                    .dropdownicon {
                        margin: 25px 0 0 0;

                        div {
                            transform: rotate(180deg);

                            svg path {
                                display: block;
                                fill: #00779c;
                            }
                        }
                    }
                }

                .header-certified-contentsc {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    cursor: pointer;

                    &:hover {
                        span {
                            color: #00779c;
                        }

                        .dropdownicon {

                            svg path {
                                fill: #00779c;
                            }
                        }
                    }

                    span {
                        font-family: "Poppins", sans-serif;
                        padding-top: 3px;
                        font-size: 15px;
                        font-weight: 700;
                    }

                    .usericon {
                        width: 14px;
                        height: 14px;

                        div {
                            width: 14px;
                            height: 14px;

                            svg path {
                                display: block;
                                fill: #000;
                            }
                        }
                    }

                    .dropdownicon {
                        transform: rotate(0deg);
                        margin: 0 0 15px 0;

                        div {
                            width: 7px;
                            height: 4px;

                            svg path {
                                fill: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 7;
}

.dropdown-overlay.active {
    display: block;
}


.header-content-active {
    span {
        color: #00779c;
    }

    svg path {
        fill: #00779c !important;
    }
}